/* HeroList
   ========================= */
.hero-list {
  padding: 20px; }
  .hero-list h1 {
    text-align: center; }
  .hero-list .hero {
    font-size: 18px;
    padding-bottom: 20px; }
    .hero-list .hero .hero-name {
      font-family: 'Acme'; }
  .hero-list .hero-name-td {
    width: 150px;
    text-align: center; }
  .hero-list .hero-type-td {
    width: 100px; }
  .hero-list .hero-role-td {
    width: 100px; }
  .hero-list .hero-name-th {
    text-align: center; }
  .hero-list .vertical-center {
    line-height: 117px; }
  .hero-list .hero-card-container {
    display: flex;
    flex-wrap: wrap; }
  .hero-list .hero {
    margin-right: 20px; }
