
.hero-t-a-container {
	h1 {
		text-align: center;
		padding-top: 20px;
	}

	.button-container {
		text-align: center;
	}

	.abilities-container {
		background-color: gray;
	}

	.abilities-info-container{
		border: 1px solid black;
		background-color: lightgreen;
	}
}
