/* HeroList
   ========================= */
.hero-list {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;

	h1:not(.hero-group) {
		text-align: center;
		margin-right: 20px;
		min-width: 312px;
	}

	.hero-group {		
		padding: 0 0 4px 20px;
		
		color: #cfcfcf;
		background-image: linear-gradient(to right, #301934, #e8e8e8);
	}

	span {
		font-style: italic;
	}

	.hero-card {
		font-size: 18px;
		padding: 0 10px 10px 10px;
		margin: 0 10px 10px 0;
		border-radius: 5px;
		background-color: white;
		font-family: 'Acme';
		box-shadow: 2px 1px 2px 1px #301934;
		border: 1px solid #301934;
		.hero-card-title {
			text-align: center;
		}

		.hero-info-list {
			margin: 5px 0 0 0;
			padding: 0 0 0 10px;
		}
	}

	.hero-grid {
		display: grid;
		grid-template-columns: auto auto;
	}

	ul {
		list-style-type: none;
	}

	.vertical-center {
		line-height: 117px;
	}

	.hero-container {
		min-width: 500px;
	}

	.hero-group-container {
		display: flex;
		flex-wrap: wrap;
		padding-left: 20px;

		.hero-card {
			color: #3d3d3d;
		}

		.hero-card-container {
			:hover {
				cursor: pointer;
				background-color: #a9a9a9;
			}
		}
	}

	a:hover{
		text-decoration: none;
	}
}
