/* SIDE NAV
   ========================= */
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	background-color: #301934;
	overflow-x: hidden;

	h3 {
		height: 120px;

		img {
			width: 250px;
		}

		a {
			padding: 0;
		}

			a:hover {
				cursor: pointer;
				color: #818181;
			}
	}

	a {
		padding: 6px 8px 6px 20px;
		text-decoration: none;
		font-size: 25px;
		color: #cfcfcf;
		display: block;
		font-family: 'Acme'
	}

		a:hover:not(:first-child) {
			color: #818181;
			background-color: #241327;

			.nav-list-icon{
				color: #818181;
			}
		}

	.nav-list-icon{
		color: white;
		margin-right: 20px;
	}
}
